.conocer_mas {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 1.38;
    letter-spacing: .3px;
    padding: 0 20px 10px 30px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    color: #aaa !important;
}
.white{
    color: white !important;
}
.upper{
    color: white !important;
}
.button_cuentas {

    color: #ffffff;
    background-color: #FF5A00;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding: 10px 20px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

}
.leter-normal{
    font-weight: 100 !important;
    color:#888 !important;
}
.color_888{
    color:#888 !important;
}
.black{
    color: black;
}